<img src="../../../assets/image01.jpg">


<h1 style="text-align:center">Personnalise ta paire : Découvrez nos articles</h1>

<div class="row mt-3">

 
    <article class="col-6 mt-4 text-center" *ngFor="let article of articles">
        <div class="card">
        <h2 class="card-header"> {{article.titre}} </h2>
        <p>{{article.contenu}}</p>
        <img src="../../../assets/{{article.img}}" alt="">
    
       
   <p>
       <a [routerLink]="['/article', article._id]" class="btn btn-primary">Voir plus</a>
   </p>
</div>
   </article>
   
</div>
