<form>
    <div class="form-group">
      <label>Nombre d'articles Max pour la Homepage</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group">
      <label>Balise SEO Title</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group">
    <label>Le texte d'introduction</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group">
        <label>Le titre de la page d'accueil</label>
          <input type="text" class="form-control">
        </div>
        
    <button type="submit" class="btn btn-primary">OK</button>
  </form>