
<div class="container">
  <h2 class="text-center my-3">Ajouter un article</h2>
  <div class="row">
      <div class="col-sm-12">
          <form #f="ngForm" (ngSubmit)="onSubmitArticle(f)" (submit)="onFrmSubmit(f)" (reset)="onFrmReset(f)">
              <div class="form-group">
                  <label for="titre">Titre</label>
                  <input class="form-control" type="text" name="titre" id="titre" value="" placeholder="titre" ngModel #titre="ngModel" required minlength="3" maxlength="30" (keyup)="onChange(f)" [ngClass]="{
                  erreur: error.titre}">
              </div>
              <div class="form-group">
                  <label for="contenu">Contenu</label>
                  <input class="form-control" type="text" name="contenu" id="contenu" value="" placeholder="contenu" ngModel #contenu="ngModel" required minlength="3" maxlength="30" (keyup)="onChange(f)" [ngClass]="{
                  erreur: error.contenu}">
              </div>
              <div class="form-group">
                <label for="nomAuteur">Nom d'auteur</label>
                <input class="form-control" type="text" name="nomAuteur" id="nomAuteur" value="" placeholder="nomAuteur" ngModel #nomAuteur="ngModel" required minlength="3" maxlength="30" (keyup)="onChange(f)" [ngClass]="{
                erreur: error.nomAuteur}">
            </div>
              

             
              <button type="submit" class="btn btn-success m-2">Ajouter</button>
              <button routerLink="/admin" type="reset" class="btn btn-warning m-2">Annuler</button>

          </form>
          <div *ngIf="erreur" class="alert alert-danger mt-5">
              <div *ngIf="!titre.valid && titre.errors.required">
                Champ Titre requis
              </div>
              <div *ngIf="!titre.valid && titre.errors.minlength">
                  Champ titre doit avoir 3 caractères minimum
              </div>
              <div *ngIf="!titre.valid && titre.errors.maxlength">
                  Champ Titre doit avoir 30 caractères maximum
              </div>

              <div *ngIf="!contenu.valid && contenu.errors.required">
                  Champ Contenu requis
              </div>
              <div *ngIf="!contenu.valid && contenu.errors.minlength">
                  Le champ contenu doit avoir 3 caractères minimum
              </div>
              <div *ngIf="!contenu.valid && contenu.errors.maxlength">
                  Le champ contenu doit avoir 30 caractères maximum
              </div>
              
              <div *ngIf="!nomAuteur.valid && nomAuteur.errors.required">
                Champ Nom d'auteur requis
            </div>
            <div *ngIf="!nomAuteur.valid && nomAuteur.errors.minlength">
                Le champ Nom d'auteur doit avoir 3 caractères minimum
            </div>
            <div *ngIf="!nomAuteur.valid && nomAuteur.errors.maxlength">
                Le champ Nom d'auteur doit avoir 30 caractères maximum
            </div>
          </div>
          <div *ngIf="success" class="alert alert-success mt-5">
              Un article vient d'étre ajouté!
          </div>
      </div>
  </div>
</div>
